*{
    background-color: black
}

#particles-js{
  height: 10%;
  align-items: center;
  justify-content: center;
}

.text{
  color: #38BDF8;
  font-size: 80px;
  font-weight: 600;
  font-family: sans-serif;
 

}