*{
    background-color: black
}

#particles-js{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.text{
  color: #38BDF8;
  font-size: 50px;
  font-weight: 600;
  font-family: 'comic sans ms';
 

}